<div class="bg">
    

<div class="container padded-bottom">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-md-12 well page-title">
            <h1>Trends in biodiversity knowledge, distribution, and conservation</h1>
        </div>
    </div>

    <section class="padded-bottom">
        <div class="item-container">
            <div class="row">

                <!-- start data coverage tool item -->
                <div class="col-md-4">
                    <div class="tool-item">
                        <div class="tool-hero">
                            <img src="static/app/img/tiles/grid.png" />
                        </div>
                        <div class="tool-title">
                            <h3>
                                <a ui-sref="indicators.coverage" 
                                    ui-sref-options="{inherit:false}" 
                                    ui-sref-opts="{reload:true, notify:true, absolute: true}">Species Data Coverage</a>
                            </h3>
                        </div>
                        <div class="tool-info">
                            <p>View spatial and temporal gaps in biodiversity data</p>
                        </div>
                        <div class="tool-start">
                            <a class="btn btn-primary" 
                                ui-sref="indicators.coverage" 
                                ui-sref-options="{inherit:false}" 
                                ui-sref-opts="{reload:true, notify:true, absolute: true}">Explore</a>
                        </div>
                        <div class="tool-links">
                            <p>
                                Indicator info &nbsp; 
                                <a class="btn btn-primary btn-xs" target="_blank" href="/indicators/static/app/files/coverage/GEOBON_Species_Status_Information_Index.pdf">GEOBON</a>
                                <a class="btn btn-primary btn-xs" target="_blank" href="/indicators/static/app/files/coverage/IPBES_Core_Indicators_Factsheet_Species_Status_Information_Index_20Nov17.pdf">IPBES</a>
                            </p>
                        </div>
                        <div class="banner-beta">Beta</div>
                    </div>
                </div>
                <!-- end data coverage tool item -->

                <!-- start habitat coverage tool item -->
                <div class="col-md-4">
                    <div class="tool-item comingsoon">
                        <div class="tool-hero">
                            <img src="//species.mol.org/app/img/landing/Jetz289crop.jpg" />
                        </div>
                        <div class="tool-title">
                            <h3>
                                <a href="https://species.mol.org/pa">Species Habitat</a>
                            </h3>
                        </div>
                        <div class="tool-info">
                            <p>Explore species habitat suitability</p>
                        </div>
                        <div class="tool-start">
                            <a class="btn btn-default" href="https://species.mol.org/pa">Explore Preview</a>
                        </div>
                        <div class="tool-links">
                                <p>
                                    Indicator info &nbsp; 
                                    <a class="btn btn-primary btn-xs" target="_blank" href="/indicators/static/app/files/habitat/GEOBON_Species_Habitat_Index.pdf">GEOBON</a>
                                    <a class="btn btn-primary btn-xs" target="_blank" href="/indicators/static/app/files/habitat/IPBES_Core_Indicators_Factsheet_Species_Habitat_Index_Jan2018ForWeb.pdf">IPBES</a>
                                </p>
                            </div>
                            <div class="banner-soon">Coming soon</div>
                    </div>
                </div>
                <!-- end habitat coverage tool item -->

                <!-- start reserve coverage tool item -->
                <div class="col-md-4">
                    <div class="tool-item comingsoon">
                        <div class="tool-hero">
                            <img src="//species.mol.org/app/img/landing/300.jpg" />
                        </div>
                        <div class="tool-title">
                            <h3>
                                <a href="https://species.mol.org/pa">Species Protection</a>
                            </h3>
                        </div>
                        <div class="tool-info">
                            <p>Explore species reserve gaps</p>
                        </div>
                        <div class="tool-start">
                            <a class="btn btn-default" href="https://species.mol.org/pa">Explore Preview</a>
                        </div>
                        <div class="tool-links">
                                <p>
                                    Indicator info &nbsp; 
                                    <a class="btn btn-primary btn-xs" target="_blank" href="/indicators/static/app/files/protection/GEOBON_Species_Protection_Index.pdf">GEOBON</a>
                                    <a class="btn btn-primary btn-xs" target="_blank" href="/indicators/static/app/files/protection/IPBES_Core_Indicators_Factsheet_Species_Protection_Index_Jan2018ForWeb.pdf">IPBES</a>
                                </p>
                            </div>
                        <div class="banner-soon">Coming soon</div>
                    </div>
                </div>
                <!-- end reserve coverage tool item -->


            </div>
        </div>
    </section>

    <section class="padded-bottom">
        <div class="row">
            <div class="highlight-item">
                <h3>Indicator Presentation, GEO BON Conference July 2020</h3>
            </div>
            <div class="well well-sm center-block" style="position: relative; max-height: 400px; max-width: 700px;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PZ-LM1ELPGs?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-12 well page-footer">
                <h4>In partership with:</h4>
                <div class="partner_logo">
                    <a href="http://geobon.org/" target="_blank">
                        <img class="medium" src="/indicators/static/app/img/GEOBON_logo.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>


</div> <!-- bg -->
