<style>
  .profile-container {
    margin: 50px 5px;
  }
  .profile-info {
    text-align: center;
    margin: 20px 5px;
  }
</style>
<div class="container padded-bottom">

    <div class="row profile-container">

        <div class="col-sm-6 col-md-4">
            <div class="profile-info">
                <img src="static/app/img/team/walter.jpg" alt="Walter Jetz" class="img-circle" />
                <div class="caption">
                    <h4>
                        <a href="http://jetzlab.yale.edu/" target="_blank">Walter Jetz</a>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="profile-info">
                <img src="static/app/img/team/carsten.jpg" alt="Carsten Meyer" class="img-circle" />
                <div class="caption">
                    <h4><a href="http://devpost.com/CarstenMeyer" target="_blank">Carsten Meyer</a></h4>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="profile-info">
                <img src="static/app/img/team/jeremy.jpg" alt="Jeremy Malczyk" class="img-circle" />
                <div class="caption">
                    <h4><a href="http://devpost.com/jmalczyk" target="_blank">Jeremy Malczyk</a></h4>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="profile-info">
                <img src="static/app/img/team/ajay.png" alt="Ajay Ranipeta" class="img-circle" />
                <div class="caption">
                    <h4><a href="http://devpost.com/funkycoda" target="_blank">Ajay Ranipeta</a></h4>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="profile-info">
                <img src="static/app/img/team/luis.jpg" alt="Luis J. Villanueva" class="img-circle" />
                <div class="caption">
                    <h4><a href="http://devpost.com/ljvillanueva" target="_blank">Luis J. Villanueva</a></h4>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="profile-info">
                <img src="static/app/img/team/michelle.jpg" alt="Michelle Duong" class="img-circle" />
                <div class="caption">
                    <h4><a href="http://devpost.com/MichelleDuong" target="_blank">Michelle Duong</a></h4>
                </div>
            </div>
        </div>

    </div>

</div>
