<div class="container padded-bottom">

    <h3>GBIF data used</h3>
    <p>
        GBIF.org (26th September 2016)
        <a href="http://doi.org/10.15468/dl.mka2y5">GBIF Occurrence Download</a>.
    </p>

    <hr class="section-divider" />

    <h3>Sources for species distribution information</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <caption>Vertebrates</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Dataset</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Birds</td>
                    <td>
                        <a href="https://mol.org/datasets/d542e050-2ae5-457e-8476-027741538965">Jetz Bird Maps</a>
                    </td>
                    <td>Jetz et al. (2012)</td>
                </tr>
                <tr>
                    <td>Mammals</td>
                    <td>
                        <a href="https://mol.org/datasets/56040c3c-f706-4640-9828-dd9a9d0edde1">IUCN Mammal Range Maps</a>
                    </td>
                    <td>IUCN (2015)</td>
                </tr>
                <tr>
                    <td>Reptiles</td>
                    <td>
                        <a href="https://mol.org/datasets/60083100-2e9d-4daa-a875-c7885e27f1eb">Reptiles of East Africa</a>
                    </td>
                    <td>Spawls et al. (2002)</td>
                </tr>
                <tr>
                    <td>Reptiles</td>
                    <td>
                        <a href="https://mol.org/datasets/deae2335-e4b8-4176-aba5-d934cfbb424b">IUCN Reptile Range Maps</a>
                    </td>
                    <td>IUCN (2015)</td>
                </tr>
                <tr>
                    <td>Reptiles</td>
                    <td>
                        <a href="https://mol.org/datasets/45628224-a8e8-4b6e-8ac7-b963964b25b8">Reptiles of Australia</a>
                    </td>
                    <td>Wilson &amp; Swan (2013)</td>
                </tr>
                <tr>
                    <td>Reptiles</td>
                    <td>
                        <a href="https://mol.org/datasets/bf4a0b27-9de9-4335-aaab-45ee9baf4bb2">Reptiles of Europe</a>
                    </td>
                    <td>Arnold &amp; Ovenden (2002)</td>
                </tr>
                <tr>
                    <td>Turtles (non-marine)</td>
                    <td>
                        <a href="https://mol.org/datasets/0e33f53e-b8e5-4ea7-8917-cbc38b1b1195">Turtles of the World</a>
                    </td>
                    <td>Bonin et al. (2006)</td>
                </tr>
                <tr>
                    <td>Amphibians</td>
                    <td>
                        <a href="https://mol.org/datasets/dfba2b9f-4a81-46d5-b9b4-e86d7a6a528e">IUCN Amphibian Range Maps</a>
                    </td>
                    <td>IUCN (2015)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <caption>Invertebrates</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Dataset</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Butterflies</td>
                    <td>
                        <a href="https://mol.org/datasets/220e816e-7f1f-4bba-a0df-1cb63ecbf7c3">Butterflies of Australia</a>
                    </td>
                    <td>Braby (2000)</td>
                </tr>
                <tr>
                    <td>Butterflies</td>
                    <td>
                        <a href="https://mol.org/datasets/822051c1-8543-43fa-b641-be3da923aab8">Butterflies of Chile</a>
                    </td>
                    <td>Peña &amp; Ugarte (1996)</td>
                </tr>
                <tr>
                    <td>Butterflies</td>
                    <td>
                        <a href="https://mol.org/datasets/fedd5e4d-d469-49ee-a58a-eb206a2afe02">Butterflies of Britain and Europe</a>
                    </td>
                    <td>Tolman (2008)</td>
                </tr>
                <tr>
                    <td>Butterflies</td>
                    <td>
                        <a href="https://mol.org/datasets/f072f6ea-20ab-43c0-96f6-5edef46669db">Butterflies of Mexico and Central America</a>
                    </td>
                    <td>Glassberg (2007)</td>
                </tr>
                <tr>
                    <td>Butterflies</td>
                    <td>
                        <a href="https://mol.org/datasets/f81a31ef-f4ad-4500-a6f7-5f308d967e37">The butterflies of North America</a>
                    </td>
                    <td>Scott (1986)</td>
                </tr>
                <tr>
                    <td>Butterflies</td>
                    <td>
                        <a href="https://mol.org/datasets/fe4b9fd2-7da6-46b8-8bef-754044461210">Butterflies of Eastern Europe, Urals and Caucasus</a>
                    </td>
                    <td>Tshikolovets (2003)</td>
                </tr>
                <tr>
                    <td>Butterflies</td>
                    <td>
                        <a href="https://mol.org/datasets/79361741-0668-4e77-933c-1eac68316fd9">Butterflies of South Africa</a>
                    </td>
                    <td>Woodhall (2005)</td>
                </tr>
                <tr>
                    <td>Butterflies</td>
                    <td>
                        <a href="https://mol.org/datasets/269074a8-8a8b-4ad4-9896-6639085a3207">Butterflies of Transbaikal Siberia</a>
                    </td>
                    <td>Tshikolovets (2002)</td>
                </tr>
                <tr>
                    <td>Bumblebees</td>
                    <td>
                        <a href="https://mol.org/datasets/6870e7bf-0297-4cf5-add6-b88b80ff936f">Bumble Bees of North America</a>
                    </td>
                    <td>Williams et al. (2014)</td>
                </tr>
                <tr>
                    <td>Bumblebees</td>
                    <td>
                        <a href="https://mol.org/datasets/96160c03-b68d-4cf9-8398-2a511033b16b">Bumble Bees of Europe</a>
                    </td>
                    <td>Rasmont &amp; Iserbyt (2014)</td>
                </tr>
                <tr>
                    <td>Dragonflies</td>
                    <td>
                        <a href="https://mol.org/datasets/c38df35d-fbc6-42c7-b689-3fedd4e1e754">African dragonfly expert distributions</a>
                    </td>
                    <td>Kipping &amp; Dijkstra (2016)</td>
                </tr>
                <tr>
                    <td>Dragonflies</td>
                    <td>
                        <a href="https://mol.org/datasets/9de3fc91-1e1f-44d6-a97f-e00a1494d86a">Dragonflies of Britain and Europe</a>
                    </td>
                    <td>Dijkstra &amp; Lewington (2006)</td>
                </tr>
                <tr>
                    <td>Dragonflies</td>
                    <td>
                        <a href="https://mol.org/datasets/5b1bb9d6-1bf9-4d3b-aec6-3cfbc96d88f7">Dragonflies of North America</a>
                    </td>
                    <td>Paulson (2009, 2011)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <caption>Plants</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Dataset</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trees</td>
                    <td>
                        <a href="https://mol.org/datasets/f7b134d9-d2ce-43b2-8f2d-7e6441d7c747">North America Tree Atlas</a>
                    </td>
                    <td>USGS (1999)</td>
                </tr>
                <tr>
                    <td>Conifers</td>
                    <td>
                        <a href="https://mol.org/datasets/f2bbc65a-984a-4f6f-ada5-dae2ad67da68">Conifers of the World</a>
                    </td>
                    <td>Leslie (2014)</td>
                </tr>
                <tr>
                    <td>Palms</td>
                    <td>
                        <a href="https://mol.org/datasets/f607ed3d-fe0c-4367-b4b9-3d056763e43e">New World Palm Range Maps</a>
                    </td>
                    <td>Kreft et al. (2006)</td>
                </tr>
                <tr>
                    <td>Cacti</td>
                    <td>
                        <a href="https://mol.org/datasets/1a48788b-0d53-4da7-ac27-04199f676e47">Biogeography and biodiversity of cacti</a>
                    </td>
                    <td>Barthlott et al. (2015)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr class="section-divider" />

    <h3>Sources of taxonomic information</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <caption>Vertebrates</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Master taxonomy</th>
                    <th>Additional sources of names</th>
                    <th>Geographical coverage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Birds</td>
                    <td>BirdLife (2011)</td>
                    <td>Avibase (2010, 2016); GBIF (2012, 2016); range maps by Jetz et al. (2012)</td>
                    <td>Global</td>
                </tr>
                <tr>
                    <td>Mammals</td>
                    <td>IUCN (2010)</td>
                    <td>Wilson &amp; Reeder (2012); IUCN (2015, 2016); COL (2012); GBIF (2012, 2016)</td>
                    <td>Global</td>
                </tr>
                <tr>
                    <td>Reptiles</td>
                    <td>Uetz (2016)</td>
                    <td>IUCN (2015, 2016); GBIF (2016); Wilson &amp; Swan (2013); Arnold &amp; Ovenden (2002); Spawls et al. (2002)</td>
                    <td>Several continents and subcontinents</td>
                </tr>
                <tr>
                    <td>Turtles</td>
                    <td>Uetz (2016)</td>
                    <td>IUCN (2016); GBIF (2016); range maps by Bonin et al. (2006)</td>
                    <td>Global</td>
                </tr>
                <tr>
                    <td>Amphibians</td>
                    <td>Frost (2012)</td>
                    <td>IUCN (2010, 2015, 2016); COL (2012); GBIF (2012, 2016)</td>
                    <td>Global</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <caption>Invertebrates</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Master taxonomy</th>
                    <th>Additional sources of names</th>
                    <th>Geographical coverage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Butterflies</td>
                    <td>G. Lamas (unpubl.)</td>
                    <td>NHML Butterfly/Moth Genera; LepIndex; IUCN (2016); GBIF (2016); COL (2016); various literature sources; range maps by Braby (2000); Peña &amp; Ugarte (1996); Tolman (2008); Glasberg (2007); Scott (1986); Tshikolovets (2002, 2003); Woodhall (2005)</td>
                    <td>Several continents and subcontinents</td>
                </tr>
                <tr>
                    <td>Bumblebees</td>
                    <td>Williams</td>
                    <td>IUCN (2016); range maps by Williams (2014); Rasmont &amp; Iserbyt (2014)</td>
                    <td>Europe, North America</td>
                </tr>
                <tr>
                    <td>Dragonflies &amp; damselflies</td>
                    <td>Schorr &amp; Paulson</td>
                    <td>Boudot &amp; Kalkman; GBIF (2016); IUCN (2016); COL (2016); range maps by Dijkstra &amp; Lewington (2006); Paulson (2009, 2011); Kipping &amp; Dijkstra (2016)</td>
                    <td>Africa, Europe, North America</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <caption>Plants</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Master taxonomy</th>
                    <th>Additional sources of names</th>
                    <th>Geographical coverage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trees</td>
                    <td>The Plant List (with additions from iPlant TNRS) (2014)</td>
                    <td>USGS (1999)</td>
                    <td>USA</td>
                </tr>
                <tr>
                    <td>Conifers</td>
                    <td>The Plant List (with additions from iPlant TNRS) (2014)</td>
                    <td>Leslie (2014)</td>
                    <td>Global</td>
                </tr>
                <tr>
                    <td>Palms</td>
                    <td>The Plant List (with additions from iPlant TNRS) (2014)</td>
                    <td>Kreft et al. (2006)</td>
                    <td>New World</td>
                </tr>
                <tr>
                    <td>Cacti</td>
                    <td>The Plant List (with additions from iPlant TNRS) (2014)</td>
                    <td>The Plants List (2016); iPlant TNRS (2014, 2016); GBIF (2014, 2016); Feeley (2014), range maps by Barthlott et al. (2015)</td>
                    <td>Global</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr class="section-divider" />

    <h3>Taxonomic resolution summary</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <caption>Vertebrates</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Total <em>N</em> GBIF records</th>
                    <th>Validated <em>N</em> GBIF records <br />(% of total)</th>
                    <th><em>N</em> scientific names in GBIF</th>
                    <th><em>N</em> resolvable scientific names in GBIF <br />(% of total)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Birds</td>
                    <td>364,950,488</td>
                    <td>311,095,486 (85.2%)</td>
                    <td>11,833</td>
                    <td>9,266 (78.3%)</td>
                </tr>
                <tr>
                    <td>Mammals</td>
                    <td>3,771,148</td>
                    <td>3,345,364 (88.7%)</td>
                    <td>4,206</td>
                    <td>3,307 (78.6%)</td>
                </tr>
                <tr>
                    <td>Amphibians</td>
                    <td>1,668,673</td>
                    <td>1,413,657 (84.7%)</td>
                    <td>4,618</td>
                    <td>3,086 (66.8%)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <caption>Invertebrates</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Total <em>N</em> GBIF records</th>
                    <th>Validated <em>N</em> GBIF records <br />(% of total)</th>
                    <th><em>N</em> scientific names in GBIF</th>
                    <th><em>N</em> resolvable scientific names in GBIF <br />(% of total)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bumblebees</td>
                    <td>230,148</td>
                    <td>223,895 (97.3%)</td>
                    <td>139</td>
                    <td>85 (61.1%)</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
