<style>

  .close {
    padding:10px;
  }

  .completeness-charts {
    width:600px;
    transition:1s linear width;
  }
  .completeness-charts.ng-enter {
    width:0;
      transition:1s linear width;
  }

  /* The finishing CSS styles for the enter animation */
  .completeness-charts.ng-enter.ng-enter-active {
    width:600px;
      transition:1s linear width;
  }

  .completeness-charts.ng-leave {
    width:600px;
      transition:1s linear width;
  }
  .completeness-charts.ng-leave.ng-leave-active {
    width:0;
      transition:1s linear width;
  }



</style>
<div class="completeness-charts" ng-if="model.region">
  <i ui-sref="indicators.completeness" class="close fa fa-close pull-right"></i>
  <div class="modal-header">
    <div class="pull-right">
      <select
        class="form-control"
        ng-model="model.selectedTaxa"
        ng-change="processDataForRegionTaxa()"
        ng-options="taxa.title for taxa in model.taxaList track by taxa.taxa"></select>
    </div>
    <h3 class="modal-title" id="modal-title">Statistics for {{model.region.name}}</h3>
  </div>
  <div class="modal-body" id="modal-body">

    <div ng-click="showModal()" class="row" ng-if="model.chartObject.data">
      <div google-chart chart="model.chartObject" class="chart-view"></div>
    </div>
  </div>
  <div class="modal-footer">
    <!--
    <button class="btn btn-primary" type="button" ng-click="$ctrl.reset()">Pick another country</button>
  -->
  </div>
</div>
