
body {
  padding: 0;
  margin: 0
  line-height:normal;
  font-size:16px;
}
header {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


.login {
  float: right;
}

@media (min-width: 950px) {
  .logo {
    float: left
  }
}
.logo a {
  display: block;
  height:60px;
}
.logo img {
  width: 160px;
}
@media (min-width: 1800px) {
  nav {
    position: absolute;
    bottom: 0;
    right: 1em
  }
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  text-align: center;
  font-size: 0.75em;
}
@media (min-width: 1150px) {
  .menu {
    float: left;
    font-size: 1em;
  }
}

.btn-default.active {
    background-image: linear-gradient(to bottom,#8cbf44 0,#7bae33 100%);
    color: #ffffff;
}

.menu li {
  list-style: none;
  list-style-image: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0
}


.menu a:link, .menu a:visited {
  color: #3d3c3c;
  text-decoration: none;
  padding: 0.25em 0.5em 0.35em 0.5em;
  display: block
}
.menu a:hover {
  color: #8cbf44
}
.menu .tab a:link, .menu .tab a:visited {
  color: #fff;
  background-color: #062d66;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  -moz-border-radius: 0.5em 0.5em 0 0;
  -ms-border-radius: 0.5em 0.5em 0 0;
  -o-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0
}

.menu .tab i {
    display: inline-block;
    margin-left: 0.5em;
  content: "\f041";
  font-family: FontAwesome;
  color: #23a9d0;
  background-color: #fff;
  margin: 0.5em;
  height: 1.25em;
  width: 1.25em;
  line-height: 1.25;
  text-align: center;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em
}
.menu .tab a:hover {
  background-color: #e86e1d
}

.menu .tab a.selected {
    background-color: #8cbf44;
}

.content {
  margin-top: 0.7em;
}

.form-control {
  border-radius: 4px;
}

.header {
    background: #fff url(../images/header_background.png)
        no-repeat bottom center;
}

.footer {
    display: block;
    color: #fff;
    background: #062d66
        url(../img/footer_background.png) no-repeat left bottom;
    height: 15em;
    margin-top: 0.3em;
    width: 100%;
}
.info_search {float:right;}
@media (max-width: 1150px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        float:left;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}

.navigation {
    display:block;
    text-align: center;
    background-color: #8cbf44;
    width: 100%
}
.nav_buttons, .navbar-nav li {
    text-align: left;
    color: #fff;
    font-size:1.1em;
    font-weight: normal;
}
.nav_button, .navbar-default .navbar-nav>li>a {
    display: inline-block;
    cursor: pointer;
    padding: 0 16px;
    line-height: 50px;
}
.nav_button:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #7bae33;
    color: #ffffff;
}
.nav_selected {background-color: #7bae33;}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar {margin-bottom: 0px; min-height: 50px;}
.navbar-default .navbar-nav>li>a {color: #ffffff;}
/*.navbar-form .form-group { max-width: 175px;}*/
.navbar-form.navbar-right:last-child { margin-right: -20px; }

.dropdown-menu {z-index: 1500;}


.visible-xs, .visible-xxs, .visible-xxxs {
  display: none ! important;
}
.visible-xxxs li a:link, .visible-xxxs li a:visited {
  color: #fff;
  background-color: #062d66;
  width: 100%;
}
.visible-xxxs li i {
    display: inline-block;
    margin-left: 0.5em;
  content: "\f041";
  font-family: FontAwesome;
  color: #23a9d0;
  background-color: #fff;
  margin: 0.5em;
  height: 1.25em;
  width: 1.25em;
  line-height: 1.25;
  text-align: center;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
.visible-xxxs li a:hover {
  background-color: #e86e1d !important;
}

.visible-xxxs li a.selected {
    background-color: #8cbf44 !important;
}

@media (max-width: 1150px) {

  .info_search {float:right;}

  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
}


@media (max-width: 866px) {
  .hidden-xxs {
    display: none !important;
  }
  .visible-xxs {
    display: block !important;
  }
}
@media (max-width: 604px) {
  .hidden-xxxs {
    display: none !important;
  }
  .visible-xxxs {
    display: block !important;
  }
}
