<div class="container">
  <div ng-include="'static/app/views/completeness/nav.html'" />
  <div class="row">
    <nvd3 options="options" data="data"></nvd3>
  </div>
  <div class="row">
    <div class="list-group">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">{{model.country.name}} {{(model.country.name.length%2)? ' really needs to get their act together.' : 'is a model of evironmental stewardship.'}}</h4>
          <p class="list-group-item-text">{{(model.country.name.length%2)? ' Plant a tree or something.' : ' 99 problems, but desertification aint one.'}}</p> </a>
        <a href="#" class="list-group-item"> <h4 class="list-group-item-heading">Things to be done</h4> <p class="list-group-item-text">
          <ul>
            <li>Make parks</li>
            <li>Cut fences</li>
            <li>Paint faces</li>
          </ul>
        </p> </a>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">Stuff to be ignored</h4>
          <p class="list-group-item-text">
            <ul>
              <li>Scott Baio's RNC speech</li>
              <li>Unnecessary <i>italics</i>.</li>
              <li>America Online</li>
            </ul>
          </p> </a> </div>
  </div>
</div>
