<style type="text/css">
  .google-map {
    display: flex;
    display: -webkit-flex;
    flex:1;
    -webkit-flex:1;
  }

  .angular-google-map {
    display: flex;
    display: -webkit-flex;
    flex:1;
    -webkit-flex:1;
  }

  .angular-google-map-container {
    display: flex;
    display: -webkit-flex;
    flex:1;
    -webkit-flex:1;
  }
  .map-link {
    margin: 5px;
    background-color:none;
  }
  a.map-link:hover {background-color:inherit;}
  .map-link img {height: 26px;}
  .map-control-item {
    margin: 5px 10px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    border-radius: 2px;
    color: rgb(86, 86, 86);
    background: white;
  }
  .btn-default.active {
    background-image: linear-gradient(to bottom,#8cbf44 0,#7bae33 100%);
  }
  .row-layout {
    width: 100%;
  }
  .invcomp_value {
    padding: 10px 0;
    font-size: large;
  }

  .map-color-0 {
    background-color: rgba(187, 187, 187, 0.5) !important;
    color: #555 !important;
  }
  .map-color-1 {
    background-color: rgba(0, 128, 255, 0.8) !important;
    color: #fff !important;
  }
  .map-color-2 {
    background-color: rgba(64, 160, 255, 0.8) !important;
    color: #fff !important;
  }
  .map-color-3 {
    background-color: rgba(127, 191, 255, 0.8) !important;
    color: #666 !important;
  }
  .map-color-4 {
    background-color: rgba(255, 242, 204, 0.8) !important;
    color: #666 !important;
  }
  .map-color-5 {
    background-color: rgba(1, 39, 0, 0.8) !important;
    color: #fff !important;
  }
  .map-color-6 {
    background-color: rgba(34, 154, 0, 0.8) !important;
    color: #fff !important;
  }
  .map-color-7 {
    background-color: rgba(19, 100, 0, 0.8) !important;
    color: #fff !important;
  }
  .map-color-8 {
    background-color: rgba(255, 166, 166, 0.8) !important;
    color: #666 !important;
  }
  .map-color-9 {
    background-color: rgba(255, 122, 122, 0.8) !important;
    color: #fff !important;
  }
  .map-color-10 {
    background-color: rgba(255, 77, 77, 0.8) !important;
    color: #fff !important;
  }

</style>
<ui-gmap-google-map
    class="google-map"
    center="model.map.center"
    zoom="model.map.zoom"
    bounds="model.map.bounds"
    events="model.map.events"
    options="model.map.options"
    control="model.map.control"
    pan="true">
      <ui-gmap-map-type
        options="mt"
        show="mt.show"
        refresh="mt.refresh"
        ng-repeat="mt in model.map.overlayMapTypes"></ui-gmap-map-type>
      <ui-gmap-map-control position="bottom-left" index="10000">
        <a class="map-link" href="https://mol.org/" target="_blank">
          <img src="static/app/img/logo.png">
        </a>
      </ui-gmap-map-control>

      <ui-gmap-map-control position="top-right" index="10000">
       <div class="info-boxes-small animate-if" ng-if="model.selectedMapTaxa">

            <div class="region-info" ng-show="model.selectedMapType.type == 'countries'">
              <div class="row-layout">
                <h4>Country</h4>
                <span>{{ model.regionHover.region_name || 'Hover over the map' }}</span>
              </div>
            </div>
            <div class="row-layout" ng-show="model.regionHover.inventory_completeness != undefined">
              <h4>Proportion completed</h4>
              <div class="invcomp_value" ng-class="model.map_color">{{ model.regionHover.inventory_completeness || '0' }}</div>
            </div>

       </div>
     </ui-gmap-map-control>
</ui-gmap-google-map>
