<div class="container padded-bottom">

    <h3>Source for species occurrence information</h3>
    <p>
      GBIF.org (26th September 2016) <a href="http://doi.org/10.15468/dl.mka2y5">GBIF Occurrence Download</a>.
    </p>

    <hr />

    <h3>Sources for species distribution information</h3>

    <table class="table table-bordered table-hover table-condensed">
        <caption>Vertebrates</caption>
        <thead>
            <tr>
                <th>Species group</th>
                <th>Dataset</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Birds</td>
                <td>Jetz Bird Maps</td>
                <td>Jetz et al. (2012)</td>

            </tr>
            <tr>
              <td>Mammals</td>
                <td>IUCN Mammal Range Maps</td>
                <td>IUCN (2015)</td>

            </tr>
            <tr>
              <td>Reptiles</td>
                <td>Reptiles of East Africa</td>
                <td>Spawls et al. (2002)</td>

            </tr>
            <tr>
              <td>Reptiles</td>
                <td>IUCN Reptile Range Maps</td>
                <td>IUCN (2015)</td>

            </tr>
            <tr>
              <td>Reptiles</td>
                <td>Reptiles of Australia</td>
                <td>Wilson &amp; Swan (2013)</td>

            </tr>
            <tr>
              <td>Reptiles</td>
                <td>Reptiles of Europe</td>
                <td>Arnold &amp; Ovenden (2002)</td>

            </tr>
            <tr>
              <td>Turtles (non-marine)</td>
                <td>Turtles of the World</td>
                <td>Bonin et al. (2006)</td>

            </tr>
            <tr>
              <td>Amphibians</td>
                <td>IUCN Amphibian Range Maps</td>
                <td>IUCN (2015)</td>

            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover table-condensed">
        <caption>Invertebrates</caption>
        <thead>
            <tr>
              <th>Species group</th>
                <th>Dataset</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Butterflies</td>
                <td>Butterflies of Australia</td>
                <td>Braby (2000)</td>

            </tr>
            <tr>
              <td>Butterflies</td>
                <td>Butterflies of Chile</td>
                <td>Peña &amp; Ugarte (1996)</td>

            </tr>
            <tr>
              <td>Butterflies</td>
                <td>Butterflies of Britain and Europe</td>
                <td>Tolman (2008)</td>

            </tr>
            <tr>
              <td>Butterflies</td>
                <td>Butterflies of Mexico and Central America</td>
                <td>Glassberg (2007)</td>

            </tr>
            <tr>
              <td>Butterflies</td>
                <td>The butterflies of North America</td>
                <td>Scott (1986)</td>

            </tr>
            <tr>
              <td>Butterflies</td>
                <td>Butterflies of Eastern Europe, Urals and Caucasus</td>
                <td>Tshikolovets (2003)</td>

            </tr>
            <tr>
              <td>Butterflies</td>
                <td>Butterflies of South Africa</td>
                <td>Woodhall (2005)</td>

            </tr>
            <tr>
              <td>Butterflies</td>
                <td>Butterflies of Transbaikal Siberia</td>
                <td>Tshikolovets (2002)</td>

            </tr>
            <tr>
              <td>Bumblebees</td>
                <td>Bumble Bees of North America</td>
                <td>Williams et al. (2014)</td>

            </tr>
            <tr>
              <td>Bumblebees</td>
                <td>Bumble Bees of Europe</td>
                <td>Rasmont &amp; Iserbyt (2014)</td>

            </tr>
            <tr>
              <td>Dragonflies</td>
                <td>African dragonfly expert distributions</td>
                <td>Kipping &amp; Dijkstra (2016)</td>

            </tr>
            <tr>
              <td>Dragonflies</td>
                <td>Dragonflies of Britain and Europe</td>
                <td>Dijkstra &amp; Lewington (2006)</td>

            </tr>
            <tr>
              <td>Dragonflies</td>
                <td>Dragonflies of North America</td>
                <td>Paulson (2009, 2011)</td>

            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover table-condensed">
        <caption>Plants</caption>
        <thead>
            <tr>
              <th>Species group</th>
                <th>Dataset</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Trees</td>
                <td>North America Tree Atlas</td>
                <td>USGS (1999)</td>

            </tr>
            <tr>
              <td>Conifers</td>
                <td>Conifers of the World</td>
                <td>Leslie (2014)</td>

            </tr>
            <tr>
              <td>Palms</td>
                <td>New World Palm Range Maps</td>
                <td>Kreft et al. (2006)</td>

            </tr>
            <tr>
              <td>Cacti</td>
                <td>Biogeography and biodiversity of cacti</td>
                <td>Barthlott et al. (2015)</td>

            </tr>
        </tbody>
    </table>

    <hr />

    <h3>Sources of taxonomic information</h3>

    <table class="table table-bordered table-hover table-condensed">
        <caption>Vertebrates</caption>
        <thead>
            <tr>
                <th>Species group</th>
                <th>Master taxonomy</th>
                <th>Additional sources of names</th>
                <th>Geographical coverage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Birds</td>
                <td>BirdLife 2011</td>
                <td>Avibase 2010 &amp; 2016, GBIF 2012 &amp; 2016, range maps by Jetz et al. 2012</td>
                <td>Global</td>
            </tr>
            <tr>
                <td>Mammals</td>
                <td>IUCN 2010</td>
                <td>Wilson &amp; Reeder 2012, IUCN 2015 &amp; 2016, COL 2012, GBIF 2012 &amp; 2016</td>
                <td>Global</td>
            </tr>
            <tr>
                <td>Reptiles</td>
                <td>Uetz 2016</td>
                <td>IUCN 2015 &amp; 2016, GBIF 2016, Wilson &amp; Swan 2013, Arnold &amp; Ovenden 2002, Spawls et al. 2002</td>
                <td>Several continents and subcontinents</td>
            </tr>
            <tr>
                <td>Turtles</td>
                <td>Uetz 2016</td>
                <td>IUCN 2016, GBIF 2016, range maps by Bonin et al. 2006</td>
                <td>Global</td>
            </tr>
            <tr>
                <td>Amphibians</td>
                <td>Frost 2012</td>
                <td>IUCN 2010, 2015 &amp; 2016, COL 2012, GBIF 2012 &amp; 2016</td>
                <td>Global</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-hover table-condensed">
        <caption>Invertebrates</caption>
        <thead>
            <tr>
                <th>Species group</th>
                <th>Master taxonomy</th>
                <th>Additional sources of names</th>
                <th>Geographical coverage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Butterflies</td>
                <td>G. Lamas (unpubl.)</td>
                <td>NHML Butterfly/Moth Genera, LepIndex, IUCN 2016, GBIF 2016, COL 2016, various literature sources, range maps by Braby 2000, Peña &amp; Ugarte 1996, Tolman 2008, Glasberg 2007, Scott 1986, Tshikolovets 2002 &amp; 2003, Woodhall 2005</td>
                <td>Several continents and subcontinents</td>
            </tr>
            <tr>
                <td>Bumblebees</td>
                <td>Williams</td>
                <td>IUCN 2016, range maps by Williams 2014, Rasmont &amp; Iserbyt 2014</td>
                <td>Europe, North America</td>
            </tr>
            <tr>
                <td>Dragonflies &amp; damselflies</td>
                <td>Schorr &amp; Paulson</td>
                <td>Boudot &amp; Kalkman, GBIF 2016, IUCN 2016, COL 2016, range maps by Dijkstra &amp; Lewington 2006, Paulson 2009 &amp; 2011, Kipping &amp; Dijkstra 2016</td>
                <td>Africa, Europe, North America</td>
            </tr>
        </tbody>
    </table>

        <table class="table table-bordered table-hover table-condensed">
            <caption>Plants</caption>
            <thead>
                <tr>
                    <th>Species group</th>
                    <th>Master taxonomy</th>
                    <th>Additional sources of names</th>
                    <th>Geographical coverage</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                  <td>Trees</td>
                  <td>The Plant List (with additions from iPlant TNRS) 2014</td>
                  <td>USGS 1999</td>
                  <td>USA</td>
              </tr>
                <tr>
                    <td>Conifers</td>
                    <td>The Plant List (with additions from iPlant TNRS) 2014</td>
                    <td>Leslie 2014</td>
                    <td>Global</td>
                </tr>
                <tr>
                    <td>Palms</td>
                    <td>The Plant List (with additions from iPlant TNRS) 2014</td>
                    <td>Kreft et al. 2006</td>
                    <td>New World</td>
                </tr>
                <tr>
                    <td>Cacti</td>
                    <td>The Plant List (with additions from iPlant TNRS) 2014</td>
                    <td>The Plants List 2016, iPlant TNRS 2014 &amp; 2016, GBIF 2014 &amp; 2016, Feeley 2014, range maps by Barthlott et al. 2015</td>
                    <td>Global</td>
                </tr>
            </tbody>
        </table>

</div>
