html {
  min-width: 640px;
  min-height: 480px;
}

body {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.navigation.dataset-navigation .nav {
  margin: 0;
}
.navigation.dataset-navigation .nav > li {
  display: inline;
  float: left;
  margin-right: 8px;
}
.navigation.dataset-navigation .navbar-nav .dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 160px;
  float: left;
  z-index: 1500;
}

.layouts-base {
  overflow-x: auto;
  overflow-y: auto;
}

.main {
  display: -webkit-flex;
  display: flex;
  flex: 1;
  -webkit-flex: 1;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.display-toggle {
  padding-top: 8px;
}

.navbar-nav .display-toggle li {
  background-color: #fff;
}

.video-container {
    position: relative;
    padding-top: 1.5625em;
    padding-bottom: 35%;
    height: 0;
    margin-bottom: 1em;
    overflow: hidden;
    text-align: center;
}

.partner_logo img {
    height: 50px;
    margin: 10px;
}

.padded-bottom {
  padding-bottom: 80px;
}

.info-boxes-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 0 6px 8px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 0 0 0 5px;
  z-index: 9999;

  font: 14px/18px 'Fira Sans', Arial, Helvetica, sans-serif;
  text-align: center;
}
.info-boxes {
  position: relative;
  min-width: 350px;
  width: 100%;
  padding: 0 20px;

  font: 14px/18px 'Fira Sans', Arial, Helvetica, sans-serif;
  text-align: center;
}
.info-boxes h4 {
  font-size: 1.1em;
  font-weight: 600;
}
.info-boxes hr, .region-data-holder hr {
  margin: 15px 0;
  border-top: 1px solid #aaa;
}
.info-boxes select.form-control {
  max-width: 100%;
}
.info-boxes .taxa-info, .info-boxes .layer-info {
  margin: 20px 0 0;
}
.info-boxes .taxa-info.form-horizontal .form-group, .info-boxes .layer-info.form-horizontal .form-group {
  margin: 0;
}

/** tab styles for angular-ui bootstrap v1.0 **/
.nav-tabs.nav-justified {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li > div {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #eee;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > div:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > div, .nav-tabs > li.active > div:hover,
.nav-tabs > .uib-tab.active > div,
.nav-tabs > .uib-tab.active > div:focus,
.nav-tabs > .uib-tab.active > div:hover {
  /*color: #555;
  background-color: #f8f8f8;*/
  color: #fff;
  background-image: linear-gradient(to bottom,#8cbf44 0,#7bae33 100%);
  cursor: default;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav > li > div {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > div:hover {
  background-color: #eee;
}

.uib-tab > div {
  color: #337ab7;
  cursor: pointer;
}
/** end tab styles **/
