<style>
  .indicator-logo {
    line-height: inherit;
    font-size: 30px;
  }

  .partner_logo img {
    height:50px;
  }

  @media screen and (max-height:480px), screen and (max-width:850px) {
    header {
        display:none;
    }

  }


</style>
<header style="background-color: light-gray">
    <div class="left">
      <a class="navbar-brand indicator-logo" href="https://mol.org/EbbeNielsen">
        <i class="fa fa-line-chart fa-4" aria-hidden="true"></i>
        GBIF Coverage Assessment
        <span class="small" ng-if="model.devmode"> - dev mode</span>
      </a>
    </div>
    <a class="partner_logo pull-right" href="http://www.gbif.org/">
        <img class="logo" src="static/app/img/GBIF-2015-full.png" alt="GBIF"/></a>
    <a class="partner_logo pull-right" href="https://mol.org/">
        <img class="logo" src="static/app/img/logo.png" alt="Map of Life"/></a>
</header>
