<style type="text/css">
  a.simple-link, a.simple-link:link, a.simple-link:visited{
    color:#ff903f;border-bottom:1px dotted #ff903f;font-size:16px;
  }
  a.simple-link:hover, a.simple-link:active, a.simple-link:focus {
    color:#8cbf44;border-bottom:1px dotted #8cbf44;background-color:transparent;text-decoration:none;
  }
  @media (min-width: 740px) {
    nav {
      width: inherit;
      height: inherit;
    }
    .hidden-xs {
      display: block !important;
    }

  }
</style>

<header class="mol-header mol-header-thin">
  <div class="mol-header-thin-menu pull-right">
    
    <a class="simple-link" href="https://auth.mol.org/login?next=https://mol.org/partials/header-thin" target="_self">login/register</a>
    
    <mol-i18n></mol-i18n>
  </div>
  <div>
    <figure class="mol-logo-thin">
      <a href="https://mol.org/" target="_self" rel="home" title="Home">
        <img alt="Map of Life" src="https://mol.org/static/img/logo.png">
      </a>
    </figure>
  </div>
  <nav class="mol-header-nav hidden-xs">
    <ul class="nav nav-tabs">
      <li ng-class="{'active':$state.includes('species')}" class="mol-blue-tab">
        <a href="https://mol.org/species" target="_self"><i class="fa fa-info fa-fw"></i>Species</a>
      </li>
      <li ng-class="{'active':$state.includes('location')}" class="mol-blue-tab">
        <a  href="https://mol.org/location" target="_self"><i class="fa fa-map-marker fa-fw"></i>Locations</a>
      </li>
      <li ng-class="{'active':$state.includes('indicators')}" class="mol-blue-tab">
        <a  href="https://mol.org/indicators" target="_self"><i class="fa fa-line-chart fa-fw"></i>Indicators</a>
      </li>
      <li ng-class="{'active':$state.includes('patterns')}" class="mol-blue-tab">
        <a  href="https://mol.org/patterns" target="_self"><i class="fa fa-th fa-fw"></i> Patterns</a>
      </li>
    </ul>
  </nav>
</header>
