<div>
    <div class="region-info">
      <h4>Country</h4><b>{{ model.regionHover.name || 'Hover over the map' }}</b>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h4>Select a view:</h4>
        <select class="form-control selectpicker">
            <option value="countries">Countries</option>
            <option value="grid">Grid</option>
        </select>
      </div>
      <div class="col-md-6">
        <h4>Select a taxa:</h4>
        <select class="form-control selectpicker">
            <option value="amphibians">Amphibians</option>
            <option value="dragonflies">Dragonflies</option>
        </select>
    </div>
    </div>
</div>
